# Backend dependencies
backend/node_modules/

# Frontend dependencies
frontend/node_modules/

# Environment files
.env
backend/.env
frontend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
